!!!5
html
  head
    title #{title} - code dump - 
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
  body
    div(class='container')
      header(style='text-align: center')
        //h1 postAr
        a(href='/')
          img(src='/static/images/logo.jpg' style='max-height:8em')
      .container
        .main-content
          block content
        div(class='row')
          div(class='col-xs-6') Version #{appVersion}
          div(class='col-xs-6' style='text-align: right') Created by 
            a(href='http://paukl.at') Paul Klingelhuber
            |  (2013) | Modified by 
            a(href='http://jba.io') Jordan Anderson 
            | (2015)
  != footer
